In [2]:
# libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#import the dataset

co2_emission = pd.read_csv("F:\\MY PROJECTS\\Python\\CO2 Emission _model\\Data set\\MY2022 Fuel Consumption Ratings.csv")
co2_emission.head()

,Model Year,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption (City (L/100 km),Fuel Consumption(Hwy (L/100 km)),Fuel Consumption(Comb (L/100 km)),Fuel Consumption(Comb (mpg)),CO2 Emissions(g/km),CO2 Rating,Smog Rating
0,2022,Acura,ILX,Compact,2.4,4,AM8,Z,9.9,7.0,8.6,33,200,6,3
1,2022,Acura,MDX SH-AWD,SUV: Small,3.5,6,AS10,Z,12.6,9.4,11.2,25,263,4,5
2,2022,Acura,RDX SH-AWD,SUV: Small,2.0,4,AS10,Z,11.0,8.6,9.9,29,232,5,6
3,2022,Acura,RDX SH-AWD A-SPEC,SUV: Small,2.0,4,AS10,Z,11.3,9.1,10.3,27,242,5,6
4,2022,Acura,TLX SH-AWD,Compact,2.0,4,AS10,Z,11.2,8.0,9.8,29,230,5,7

In [4]:
# check the datatypes
co2_emission.dtypes

Model Year                             int64
Make                                  object
Model                                 object
Vehicle Class                         object
Engine Size(L)                       float64
Cylinders                              int64
Transmission                          object
Fuel Type                             object
Fuel Consumption (City (L/100 km)    float64
Fuel Consumption(Hwy (L/100 km))     float64
Fuel Consumption(Comb (L/100 km))    float64
Fuel Consumption(Comb (mpg))           int64
CO2 Emissions(g/km)                    int64
CO2 Rating                             int64
Smog Rating                            int64
dtype: object

In [5]:
co2_emission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 946 entries, 0 to 945
Data columns (total 15 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Model Year                         946 non-null    int64
 1   Make                               946 non-null    object
 2   Model                              946 non-null    object
 3   Vehicle Class                      946 non-null    object
 4   Engine Size(L)                     946 non-null    float64
 5   Cylinders                          946 non-null    int64
 6   Transmission                       946 non-null    object
 7   Fuel Type                          946 non-null    object
 8   Fuel Consumption (City (L/100 km)  946 non-null    float64
 9   Fuel Consumption(Hwy (L/100 km))   946 non-null    float64
 10  Fuel Consumption(Comb (L/100 km))  946 non-null    float64
 11  Fuel Consumption(Comb (mpg))       946 non-null    int64
 12  CO2 Emissions(g/km)                946 non-null    int64
 13  CO2 Rating                         946 non-null    int64
 14  Smog Rating                        946 non-null    int64
dtypes: float64(4), int64(6), object(5)
memory usage: 111.0+ KB

In [6]:
#check the duplicate sum
co2_emission.duplicated().sum()

0

In [7]:
co2_emission.nunique()

Model Year                             1
Make                                  39
Model                                715
Vehicle Class                         14
Engine Size(L)                        36
Cylinders                              8
Transmission                          23
Fuel Type                              4
Fuel Consumption (City (L/100 km)    149
Fuel Consumption(Hwy (L/100 km))     107
Fuel Consumption(Comb (L/100 km))    131
Fuel Consumption(Comb (mpg))          49
CO2 Emissions(g/km)                  242
CO2 Rating                            10
Smog Rating                            5
dtype: int64

In [8]:
# count the value of each varible
co2_emission["Model Year"].value_counts()

Model Year
2022    946
Name: count, dtype: int64

In [9]:
co2_emission['Engine Size(L)'].value_counts()

Engine Size(L)
2.0    210
3.0    134
2.5     72
3.5     50
5.3     49
3.6     47
4.0     40
6.2     33
5.0     32
1.5     32
2.3     26
4.4     25
1.6     23
2.4     21
2.7     18
2.9     17
5.7     15
5.2     11
1.8      9
6.4      9
3.8      8
1.3      8
3.3      7
3.4      7
6.7      7
1.4      6
2.8      5
1.2      4
6.0      4
3.7      4
8.0      3
3.2      3
6.5      3
5.6      2
6.6      1
4.6      1
Name: count, dtype: int64

In [10]:
co2_emission['Cylinders'].value_counts()

Cylinders
4     404
6     295
8     197
3      21
12     17
10      8
16      3
5       1
Name: count, dtype: int64

In [11]:
co2_emission['CO2 Rating'].value_counts()

CO2 Rating
5     266
4     228
3     189
6     113
7      71
2      48
9      13
8      10
1       7
10      1
Name: count, dtype: int64

In [13]:
co2_emission['Smog Rating'].value_counts()

Smog Rating
5    308
3    198
7    194
6    189
1     57
Name: count, dtype: int64